@media only screen and (max-width: 992px) {
	.left-header-field-name-text {
		font-size: 15px;
		letter-spacing: 1px;
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}

	.left-header-field-name-text > span > a {
		padding-left: 10px;
	}

	.main-page-container {
		display: inline;
		justify-content: center;
	}

	.menu-container {
		height: auto;
		display: inline;
	}

	#menu-text-menu {
		display: none;
		background-color: green;
	}

	.menu-products-list {
		display: inline-block;
		justify-content: center;
		align-items: center;
		margin: 0;
		background-color: green;
	}

	.logo-image {
		height: 130px;
		margin-top: 15px;
		background-color: green;
	}

	#logo {
		width: 80px;
		height: 74px;
		padding-top: 20px;
	}

	#menu-contact-us-field-text {
		margin: 0px;
		background-color: green;
	}

	#menu-bottom-facebook {
		margin-top: 10px;
		height: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#menu-bottom-facebook button {
		height: 30px;
		font-size: 17px;
	}

	.menu-list-product-dropdown:hover .menu-dropdown-content {
		margin-left: 0;
	}

	.menu-list-product-dropdown {
		margin: 0;
	}

	.hover-dropdown-button {
		font-size: 15px;
		letter-spacing: 1px;
	}

	.header-container {
		flex-wrap: wrap;

	}

	.shopping-cart {
		width: 75%;
	}

	.search-field {
		width: 100%;
	}

	.content-wrapper {
		width: 100%;
	}

	.first-content-block-row {
		height: 250px;
	}

	#contact-us-form {
		width: 100%;
	}
}

@media only screen and (max-width: 775px) {
	.all-content-blocks {
		margin-left: auto;
		margin-right: auto;
		display: table;
		border: none;
	}

	.blocks-in-all-content-blocks {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.right-header-field-date {
		display: none;
	}
	.shopping-cart {
		width: 100%;
	}

	.first-content-block-row {
		height: 160px;
	}

	.first-content-block-text {
		font-size: 10px;
		letter-spacing: 0;
		margin-left: 0;
		margin-top: -15px;
	}

	.first-content-block-text #try-our-products-text {
		margin-top: -10px;
	}

	.all-content-blocks-last {
		display: table;
		width: 75%;
	}

	#honey-products {
		border: none;
		text-align: center;
	}

	.product-page-product-information {
		text-align: center;
		width: 100%;

	}
}

@media only screen and (max-width: 578px) {
	.first-content-block-text p{
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 0;
		margin-top: 20px;
		font-weight: 100;
	}

	.first-content-block-text #try-our-products-text {
		margin-top: -10px;
		font-size: 18px;
	}
	.menu-products-list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hover-dropdown-button{
		width: 578px;
		border: 1px solid black;
	}

	.menu-list-product-dropdown:hover .menu-dropdown-content {
		margin-left: 200px;
	}

}
